body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#modListContainer {
    margin-top: 20px;
    padding: 10px;
}

#modList li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#modList li a {
    display: block;
    margin-bottom: 10px;
    color: #007BFF;
    text-decoration: none;
}

#modList li button {
    background-color: #28a745;
}

#modList li button:hover {
    background-color: #218838;
}

#modDetailContainer {
    margin-top: 20px;
    padding: 10px;
}

#modDetail h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#modDetail img {
    max-width: 100%;
    margin-bottom: 10px;
}
